* {
  box-sizing: border-box;
}

body {
  margin: 0px auto;
  padding: 0px auto;
  background-image: url("images/noise.gif");
  background-repeat: repeat;
}

@font-face {
  font-family: "Godzilla";
  src: url("Godzilla.ttf");
}

#header {
  text-align: center;
  font-size: 180px;
  text-shadow: 10px 10px 1px #000000;
  font-family: Godzilla;
  line-height: 120px;
}

#name {
  margin-bottom: 0px;
  margin-top: 100px;
}

.letters-A {
  animation: color-change-A 0.5s infinite;
  color: #ff40a0;
}

@keyframes color-change-A {
  0% {
    color: #1090ff;
  }
  50% {
    color: #ff40a0;
  }
  100% {
    color: #1090ff;
  }
}

.letters-B {
  animation: color-change-B 0.5s infinite;
  color: #1090ff;
}

@keyframes color-change-B {
  0% {
    color: #ff40a0;
  }
  50% {
    color: #1090ff;
  }
  100% {
    color: #ff40a0;
  }
}

#motto {
  font-size: 99.5px;
  margin: 0px;
}

/*Wizard*/
#wizard {
  left: -35px;
  bottom: -20px;
  position: fixed;
  float: right;
}
#bubble {
  width: 299px;
  height: 183px;
  left: 155px;
  bottom: 100px;
  position: fixed;
}

/*Menu*/
.menu {
  display: flex;
  align-items: center;
  text-align: center;
  width: 240px;
  margin: auto;
}

.menu-item {
  height: 118.6px;
  width: 113.8px;
}

#menu-item1 {
  animation: color-src1 0.5s infinite;
  background-image: url("../KSOT/images/menu/lazneB.png");
  background-size: cover;
  margin: auto;
}

@keyframes color-src1 {
  0% {
    background-image: url("../KSOT/images/menu/lazneP.png");
  }
  50% {
    background-image: url("../KSOT/images/menu/lazneB.png");
  }
  100% {
    background-image: url("../KSOT/images/menu/lazneP.png");
  }
}

#menu-item2 {
  animation: color-src2 0.5s infinite;
  background-image: url("../KSOT/images/menu/obrazarnaP.png");
  background-size: cover;
  margin: auto;
}

@keyframes color-src2 {
  0% {
    background-image: url("../KSOT/images/menu/obrazarnaB.png");
  }
  50% {
    background-image: url("../KSOT/images/menu/obrazarnaP.png");
  }
  100% {
    background-image: url("../KSOT/images/menu/obrazarnaB.png");
  }
}

#back {
  height: 114px;
  width: 182px;
  position: fixed;
  top: 50px;
  left: 30px;
}

#language {
  position: fixed;
  right: 10px;
  top: 10px;
  height: 32px;
  width: 53.3px;
}